.row {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-light--1);
}
.column {
    display: inline-block;
    text-align: center;
    font-size: 16px;
}
.columnHeader {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 4px;
}
.kitRowLabel {
    display: inline-block;
}
.kitRowInput {
    width: 40px;
    margin: 10px 4px;
    padding: 4px;
    text-align: center;
    border: none;
    font-size: 18px;
    user-select: all;
}
.kitRowInput::selection {
    background-color: var(--color-light--0);
}
input.kitRowInput:focus {
    outline: 1px solid var(--color-dark--1);
    border-radius: 2px;
    background-color: var(--color-light--0);
}
span.kitRowDesc {
    margin: 0px 40px;
    width: 400px;
}
.materialSymbolsOutlined {
    font-family: "Material Symbols Outlined";
    font-size: 16px;
    cursor: pointer;
    color: var(--color-light--1);
    vertical-align: text-top;
    user-select: none;
}
span.materialSymbolsOutlined:hover {
    color: var(--color-light--2);
}
/* Remove spinner arrows from input fields */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
