@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

:root {
    --color-brand--0: #72d1d4;
    --color-brand--1: #6dc7ca;

    --color-light--0: #f0f0f0;
    --color-light--1: #cac8c8;
    --color-light--2: #b9b9b9;

    --color-dark--0: #434343;
    --color-dark--1: #7e7d7d;
}

body {
    font-family: "Source Sans 3", sans-serif;
    color: #434343;
    background-color: var(--color-light--1);
}
form {
    text-align: right;
    margin: auto;
}
input {
    display: inline-block;
    font-family: "Source Sans 3", serif;
    width: 140px;
    margin: 10px;
    padding: 10px;
    color: #434343;
    font-size: 16px;
}
select {
    display: inline-block;
    font-family: "Source Sans 3", serif;
    width: 164px;
    margin: 10px;
    padding: 10px;
    color: #434343;
    font-size: 16px;
}
